    /*Quicklinks*/
    .box {
        padding-top: 10vh;
        background-color: #f5ede4;
        height: 90vh;
    }
    
    .box-img{
        margin-left: 230px;
        margin-top: 50px;
        width:50%;
    }

    .boxes {
        height: 300px;
        min-width: 270px;
        background-color: #D7D4C2;   
        display: flex;   
    }

    .content{
        font-size: larger;
        margin-top: -18%;
        margin-left: 40%;
        width:50%;
      
    }

    .biography{
        margin-top: 5%;
        width:70%;
        margin-left: 15%;
        font-size: larger;
    }

    .request{
        font-size: 25px;
        width:15%;
        color:white;
        padding:5px;
        margin-left: 75%;
        margin-top: -27%;
        border-radius: 40px;
        background: rgb(38, 108, 212);
    }

    .tag
    {
        color:white;
        margin-left: .5%;
        padding:5px;
        border-radius: 40px;
        background: rgb(38, 108, 212);
    }

